[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
blessings = "*"
beautifulsoup4 = "*"
types-beautifulsoup4 = "*"
ruff = "*"

[dev-packages]
black = "*"
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.9"

[scripts]
qa = "sh -c 'pipenv run checkformat && pipenv run typecheck && pipenv run lint'"
checkformat = "black --check ."
lint = "ruff check . --ignore E501"
format = "black ."
typecheck = "mypy --strict -m dependabot_batch_review"
review = "python -m dependabot_batch_review"
